@CHARSET "ISO-8859-1";
/* Styles go here */

.container {
   margin-top: 40px;
   width: 100%;
}

#brand {
	font-size: 60px;
	margin: 0;
	font-weight: 900;
}
        
#chartContainer {
   margin-top: 30px;
   height: 500px; 
   width: 100%;
}

.login-modal-content {
	border-radius: 30px;
}

.login-modal-header {
	border-radius: 25px;
}

.login-modal-footer {
	border-radius: 25px;
}

.btn-primary {
	border-radius: 20px;
}

.modal1 {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 80%;
    top: 10%;
    height: 260px;
}


/* Modal Content/Box */
.modal-content1 {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 70%; /* Could be more or less, depending on screen size */
}

.deregister {
	text-align: center;
}

#dropzone {
	border-radius: 25px;
	margin: 5px;
}
.deregister-header {
	color: white;
}