@CHARSET "ISO-8859-1";
/* Styles go here */

body{
	background-image: url('http://data.whicdn.com/images/39339494/original.jpg')
}
#brand{
	font-family: 'Indie Flower', cursive;
	text-align: center;
	color: white;
}


.holder {
  width: 700px;
  height: 500px;
}

.dropzone{
	margin-left: auto;
    margin-right: auto;	
    color: white;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}

#dropzone {
  background-color: rgba(193, 66, 156, 0.77);
  font-family: 'Indie Flower', cursive;
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 500px;
  border: dashed 4px transparent;
  float: left;
}

#dropzone1{
	background-color: rgba(193, 66, 156, 0.77);
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 500px;
  border: dashed 4px transparent;
  float: left;
}

#dropzone2{
	background-color: rgba(193, 66, 156, 0.77);
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 500px;
  border: dashed 4px transparent;
  float: left;
}

#dropzone3 {
  background-color: rgba(193, 66, 156, 0.77);
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 500px;
  border: dashed 4px transparent;
  float: left;
}

#dropzone4 {
  background-color: rgba(193, 66, 156, 0.77);
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 500px;
  border: dashed 4px transparent;
  float: left;
}

.draggable {
  width: 100px;
  height: 100px;
  float:right;
  background-color: #2196F3;
  color: white;
  padding:10px;
  margin: 10px;
  
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #000;
  color: #FFF;
  border-color: #fff;
  border-style: solid;
}




section{
    padding: 2em;   
}
button{
    padding:0.3em;
    margin: 0.3em;
}
