<!-- members.html -->

<div ng-controller="getUserCtrl">
  <table border="1">
    <tr>
        <th>Email:</th>
    </tr>
    <tr>
      <td ng-repeat="user in users">{{user.u_email}} </td>
    </tr>
  </table>
</div>


<!--Still in progress --> 

<!-- <div ng-controller="MyCtrl">
    <table>
        <tr>
            <th ng-repeat="(key, val) in items[0]">{{key}}</th>
        </tr>
        <tr ng-repeat="item in items">
            <td ng-repeat="(key, val) in item">{{val}}</td>
        </tr>
    </table> -->