<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Scrum Board</title>
</head>
<body>

<div class="holder">
	<div class="container-fluid">
	<div class="row">
      <div id="dropzone" class="dropzone col-md-2">Done</div>
      <div id="dropzone1" class="dropzone col-md-2">Verify</div>
      <div id="dropzone2" class="dropzone col-md-2">Testing</div>
       <div id="dropzone2" class="dropzone col-md-2">In Progress</div>
        <div id="dropzone2" class="dropzone col-md-2">To Do</div>
     </div>
     </div>
     </div>

</body>
</html>