
<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div ng-app="demo">
				<div ng-controller="DemoController" class="row">
					<div ng-repeat="list in model" id="dropzone" class="col-lg-2">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class="panel-title" style="text-align: center;">{{allTitles[$index]}}</h3>
							</div>
							<div class="panel-body">
								<ul dnd-list
									dnd-drop="callback({targetList: list, targetIndex: index})" id="scrumboard">
									<li ng-repeat="item in list" dnd-draggable="null"
										dnd-callback="onDrop(list, $index, targetList, targetIndex)"
										style="text-align: center;">{{item.labelFunc($index)}}{{item.label}}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>

