	<div ng-app="ExampleApp" >
	<div class="container-fluid" ng-controller="dragCtrl">
	<div class="row">
      <div id="dropzone" class="dropzone col-md-4" btf-dragon="thing in things">My Blockers<br> {{thing}}</div>
      <div id="dropzone1" class="dropzone col-md-4" btf-dragon="thing in otherThings">What I'm doing today<br> {{thing}}</div>
      <div id="dropzone2" class="dropzone col-md-4" btf-dragon="thing in otherThings">What I did yesterday<br> {{thing}}</div>
      </div>
      </div>
      </div>
      