<!DOCTYPE html>
<html ng-app="myApp">
<head>
<!-- CSS -->
 <link rel="stylesheet" href="features/css/navbar.css" />
  <link rel="stylesheet" href="features/css/app.css" />
 <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
 <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<title>Homepage</title>
</head>
<body>
<h1 id="brand">Jell-o</h1>
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a id="standup">View Boards</a></li>
  <li role="presentation"><a id="#">View Burn Down</a></li>
  <li role="presentation"><a id="#">Add Members</a></li>
  <li><form class="navbar-form navbar-right">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Members">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form> 
    </li>
  <li role="presentation"><a id="#">Logout</a></li>
</ul>
<br>
<div class="holder">
	<div class="container-fluid">
	<div class="row">
      <div id="dropzone" class="dropzone col-md-4">My Blockers</div>
      <div id="dropzone1" class="dropzone col-md-4">What I'm doing today</div>
      <div id="dropzone2" class="dropzone col-md-4">What I did yesterday</div>
      
      <!--<div id="box-one" class="draggable">  
		  <p> I am the first Box </p>
		</div>
		<div id="box-two" class="draggable">  
		    <p> I am the second Box </p>
		</div> <br> -->

<!-- AddStory Feature -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Story</button>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" ng-controller="addStoryCtrl">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Story</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="submit()" method="POST">
            <div class="form-group">
              <label for="usr">Story Name:</label>
              <input type="text" class="form-control" required ng-model="story_name">
            </div>
            <div class="form-group">
              <label for="usr">Points:</label>
              <input type="number" class="form-control" min="0" max="10" ng-model="points">
            </div>
            </br>
               <div ng-repeat="element in elements">
               <label>Task:</label>
                <input type="text" class="form-control col-xs-2" ng-model="element.value"/>
                   </br> </br> </br>
                </div>
            </br>
           <input type="button" class="btn btn-primary" value="Add Task" ng-click="addTask()" />
            </br> </br>
              <input type="submit" id="submit" class="btn btn-primary btn-block" value="Submit"  />
        </form>
      </div>
    </div>

  </div>
</div>
    </div>
    
    <!-- AddBoard Feature -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1" style="text-align: center;">Add Board</button>

<!-- Modal -->
<div id="myModal1" class="modal fade" role="dialog" ng-controller="addBoardCtrl">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Board</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="submit()" method="POST">
            <div class="form-group">
              <label for="usr">Board Name:</label>
              <input type="text" class="form-control" required ng-model="board_name">
            </div>
              <input type="submit" id="submit" class="btn btn-primary btn-block" value="Submit"  />
        </form>
      </div>
    </div>

  </div>
</div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="features/js/addStory.js"></script>
	<script src="features/js/dragAndDrop.js"></script>
</body>
</html>